<phpunit
	bootstrap="./vendor/autoload.php"
	backupGlobals="false"
	colors="true"
	verbose="true">

	<testsuite name="UnsetReferenceValuesAfterUseRule">
		<directory>./tests</directory>
	</testsuite>

	<filter>
		<whitelist>
			<file>./src/ForEachLoop/UnsetReferenceValuesAfterUseRule.php</file>
		</whitelist>
	</filter>
</phpunit>
